* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

form,
button,
input[type="number"],
input[type="text"],
select {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    background-color: inherit;
    color: inherit;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* layout */
html {
    font-size: 1.25em;
    line-height: 1.25em;
    font-family: system-ui, sans-serif;
    color: #116;
}

main {
    padding: .125em;
}

.mimeo-box {
    border: .125em solid #116;
    margin: .125em;
    padding: .25em;
    display: flex;
    flex-wrap: wrap;
}

#title-block {
    text-align: center;
}

h1 {
    font-size: 1.5em;
}


/* stat blocks */
.stat-block {
    display: flex;
    flex-wrap: wrap;
}

#fighter-name-block {
    width: 100%;
}

.stat-cell {
    display: flex;
    flex-direction: column;
    padding: .125em;
}

#fighter-name-cell {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.stat-box {
    color: #111;
    font-family: 'Marker Felt', 'Comic Sans MS', cursive;
    min-width: 2.25em;
}

.stat-box>input[type="number"] {
    width: 1.25em;
}

#wave-stats .stat-box>input[type="number"] {
    width: 3em;
}

.stat-label {
    font-weight: bolder;
    text-align: center;
}

#start-button {
    padding: .125em .5em;
    margin: 0 .25em;
    border-radius: .125em;
    background-color: #116;
    color: white;
}

#start-button:disabled {
    opacity: .5;
}